.header {
    height: 640px;

    background: url("./Main-bg.jpg");
    background-size: cover;

    color: white;
}

.mainHeader {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.2rem;
}

.subHeader {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1.8rem 0 1.2rem 0;
    line-height: 48px;
}

.wrapper {
    margin: 5% 0 4%;
    text-align: center;
}

.wrapper button {
    font-family: 'Merienda', cursive;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;

    background: transparent;

    width: 120px;
    height: 30px;

    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    cursor: pointer;

    transition: all .3s;
}

.wrapper button:hover {
    background-color: white;
    color: black;
}