.navItem {
    padding-right: 30px;
    color: black;

    font-size: 12px;
    text-decoration: none;
}

.navContainer {
    padding: 30px 10% 20px 10%;
}

.white {
    color: white;
}

.beanLogo {
    width: 35px;
    height: 35px;
}
